# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# R session files
.Rapp.history
.RDataTmp

# R package/build files
*-Ex.R

# RDS files too large for GitHub
results/02_integrated_seurat.rds
data/postQC_merged_12_samples.rds
# Large Seurat RDS files stored on Google Drive
results/*.rds
data/*.rds